*, ::before, ::after {
    background-repeat: no-repeat;
    font-family: "Averta CY", sans-serif;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

.solution{
    background-color: rgb(250, 251, 255);
    padding: 70px 0px 20px;
}
.solution .container{
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Averta CY", sans-serif;
}
.section-title{
    font-weight: bold;
    font-style: normal;
    line-height: 1.26;
    font-family: "Averta CY", sans-serif;

}
.so{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto 50px;
    font-style: normal;
    font-weight: bold;
    font-size:36px;
    color: rgb(30, 32, 48);
}

.so::before{
    width: 200px;
    height: 25px;
    content: "";
    display: block;
    background-image: url(../icon/sol.svg);
    background-size: contain;
    background-position: right bottom;
    align-self: flex-end;
    margin-bottom: -4
px
;
    margin-right: -39
px
;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 0px 7%;
    margin-top: 6%;
    margin-bottom: 7%;
    align-content: center;
}
.s-item{

}


.s-item h5{
    color: rgb(136, 85, 241);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.s-item p{
 
        font-size: 18px;
        color: rgb(137, 137, 137);
        font-weight: 400;
        margin-bottom: 0px;

}
.delgerengui{
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(
95.41deg, rgb(131, 38, 226) 34.67%, rgb(82, 6, 225) 148.46%);
    margin: 0px auto;
    display: block;

    transition: all 0.2s ease-in-out 0s;
    color: white;
     outline: none;
     border: 1px;
}

span{
    color: rgb(255, 255, 255);
    font-family: "Averta CY", sans-serif;
    font-size: 17px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
  
    .content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0px 7%;
        margin-top: 6%;
        margin-bottom: 7%;
        align-content: center;
    }

 .so{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto -34px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgb(30, 32, 48);
 }
    }




