@import url();
body{
margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.nav_container1{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 20px;
    z-index: 10;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
    margin-left: 1%;
    margin-right: 1%;
}
 .container a{
    color: rgb(68, 68, 68);
    outline: none;
    text-decoration: none ;
}
.nav_container .logo img{
    width: 150px;
    vertical-align: middle;
    border-style: none;
}
h6{
    color: rgb(30, 32, 48);
    font-size: 12px;
    font-weight: 500;
    margin: 7px 0px 0px 2px
;
}
button{
    font-family: "Averta CY", Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: red;
    margin: 0px 20px;
  background-color: white;
    text-decoration: none;
color: rgb(30, 32, 48);
    cursor: pointer;
    border: none;
    box-sizing: inherit;
}
button:hover{
    color: #6f42c1;

}
 a{
font-family: "Averta CY", Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(30, 32, 48);
    margin: 0px 25px;
    transition: all 0.2s ease-in-out 0s;

    
}
a:hover{
    color: #6f42c1;
}
menu{
    margin: 30px;
}

.btn-contact{
    background-image: linear-gradient(to right, #8326e1, #6715e2);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.btn-contact:hover::after{

content: url(../icon/healt.svg);

    margin-left: 10px;
    background-repeat: no-repeat;
   

}
.btn-contact:hover{
    color: white;
    animation: pulse 0.5s ease-in infinite;
}



@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
.btn-contact svg{

}